header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.btn {
  border-width: 3px;
}

nav .btn {
  border-color: black;
}

#ps-plus .btn:hover {
  box-shadow: inset 0 0 0 2px #fff;
}

#ps-now .btn:hover {
  box-shadow: inset 0 0 0 2px black;
}

nav .btn:hover {
  border-color: black;
  box-shadow: inset 0 0 0 2px #fff;
}

.btn.btn-danger:hover {
  background-color: #dc3545;
  border-color: #dc3545;
  box-shadow: inset 0 0 0 2px black;
}

.btn.btn-primary:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  box-shadow: inset 0 0 0 2px #fff;
}

.sony-logo {
  height: 10px;
}

header .navbar-light .navbar-nav .nav-link {
  color: black;
}

.fa-magnifying-glass {
  line-height: 40px;
}

.brand {
  height: 30px;
}

header li {
  padding: 0 5px;
}

main {
  padding-top: 106px;
}

#main-jumbotron.jumbotron {
  background-image: url(../img/jumbo-bg.png);
  height: 600px;
  background-position: top center;
  background-size: cover;
}

#coming-up .it-takes-two {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  height: 600px;
  background-position: top center;
  background-size: cover;
}
#coming-up .coming-next {
  height: auto;
}

#your-ps5 .card .active {
  display: none;
}

#your-ps5 .card:hover .active {
  display: block;
}

.blue-bottom {
  height: 2px;
}

#coming-soon .rounded {
  border-radius: 25px !important;
}

#coming-soon .card-img,
.card-img-top {
  border-radius: 25px !important;
}

#ps-plus {
  background-color: #bebcbb;
}

.bg-gray {
  background-color: #d9dadc;
}

#ps-plus .logo-psplus {
  max-width: 70%;
}

#ps-now {
  background-color: #161c3b;
}

#ps-now .logo-psnow {
  max-width: 70%;
}

footer {
  background-color: #00439c;
}

.sie-logo {
  width: 150px;
}
