header {
  position: fixed;
  width: 100%;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.fa-magnifying-glass {
  line-height: 40px;
}
.sony-logo {
  height: 10px;
}

.brand {
  height: 30px;
}

header li {
  padding: 0 5px;
}

.jumbotron {
  height: 600px;
  background-image: url();
}

#coming-soon {
  height: 600px;
}

.buy-now {
  height: 500px;
}

#ps-plus {
  height: 300px;
}
