header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.sony-logo {
  height: 10px;
}

header .navbar-light .navbar-nav .nav-link {
  color: black;
}

.fa-magnifying-glass {
  line-height: 40px;
}

.brand {
  height: 30px;
}

header li {
  padding: 0 5px;
}

main {
  padding-top: 106px;
}

#main-jumbotron.jumbotron {
  background-image: url(../img/jumbo-bg.png);
  height: 600px;
  background-position: top center;
  background-size: cover;
}

#coming-up .it-takes-two {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  height: 600px;
  background-position: top center;
  background-size: cover;
}
#coming-up .coming-next {
  height: auto;
}

.blue-bottom {
  height: 2px;
}

#coming-soon .rounded {
  border-radius: 25px !important;
}

#coming-soon .card-img,
.card-img-top {
  border-radius: 25px !important;
}

#ps-plus {
  background-color: #bebcbb;
}

.bg-gray {
  background-color: #d9dadc;
}

#ps-plus .logo-psplus {
  max-width: 70%;
}

#ps-now {
  background-color: #161c3b;
}

#ps-now .logo-psnow {
  max-width: 70%;
}
